@import "../../style/colours";
@import "../../style/timings";

.dom-ball {
  position: absolute;
  background: radial-gradient(circle at 75% 25%, $favourite-blue, $deep-blue);
  border-radius: 50%;
}
